blockquote {
  margin: 20px;
  padding: 10px;
  border-left: 4px solid #ccc;
  background-color: #f9f9f9;
}

code {
  background-color: #f4f4f4; /* Light gray background */
  color: #021e74; /* Dark pink color for the text */
  padding: 2px 4px; /* Padding around the code */
  border-radius: 3px; /* Slightly rounded corners */
  font-family: Consolas, Monaco, monospace; /* Monospace font */
}

dl {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

dt {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 15px;
  margin-bottom: 8px;
  color: #333;
}

dd {
  margin-left: 20px;
  color: #555;
}

dd:not(:last-of-type) {
  margin-bottom: 10px;
}

pre code {
  padding: 15px;            /* Inner spacing */
  border-radius: 5px;       /* Rounded corners */
  display: block;           /* Block layout */
  overflow-x: auto;         /* Horizontal scroll for long lines */
}

